<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head th:replace="~{fragments/head :: head(Edit)}"></head>

<body class="bg-dark">

    <header>
        <nav th:replace="~{fragments/navbar :: navbar}"></nav>
    </header>



    <!-- main -->
    <main>
        <section class="container mt-5 col-6">
            <div class="col-12">
                <h1 class="text-center text-light">
                    <i class="bi bi-pencil-square"></i> Editing Ticket
                </h1>
            </div>

        </section>

        <div class="container col-6">
            <!-- form -->
            <form th:action="@{|/tickets/*{id}/edit|}" method="post" th:object="${ticket}" class="mb-4">


                <label class="form-label text-light fs-4 mt-4" for="title" sec:authorize="hasAuthority('ADMIN')">Title</label>
                <input class="form-control text-bg-dark border-secondary" type="text" th:errorClass="is-invalid"
                    id="title" th:field="*{title}" sec:authorize="hasAuthority('ADMIN')">

                <div th:if="${#fields.hasErrors('title')}" class="invalid-feedback" sec:authorize="hasAuthority('ADMIN')">
                    <ul>
                        <li th:each="err : ${#fields.errors('title')}" th:text="${err}"></li>
                    </ul>
                </div>
                <input type="hidden" th:field="*{title}" sec:authorize="hasAuthority('OPERATOR')">

                <label class="form-label text-light fs-4 mt-4" for="body" sec:authorize="hasAuthority('ADMIN')">Body</label>
                <textarea rows="4" class="form-control text-bg-dark border-secondary" type="text"
                    th:errorClass="is-invalid" id="body" th:field="*{body}" sec:authorize="hasAuthority('ADMIN')"></textarea>

                <div th:if="${#fields.hasErrors('body')}" class="invalid-feedback" sec:authorize="hasAuthority('ADMIN')">
                    <ul>
                        <li th:each="err : ${#fields.errors('body')}" th:text="${err}"></li>
                    </ul>
                </div>
                <input type="hidden" th:field="*{body}" sec:authorize="hasAuthority('OPERATOR')">

                <!-- category selection -->
                <label class="form-label text-light fs-4 mt-4" for="category" sec:authorize="hasAuthority('ADMIN')">Category</label>
                <select class="form-select text-bg-dark border-secondary" th:field="*{category}" id="category" th:errorClass="is-invalid" sec:authorize="hasAuthority('ADMIN')">
                    <option value="">Select a category</option>
                    <option th:each="category : ${categories}" th:value="${category.id}">[[${category.name}]]</option>
                </select>

                <div th:if="${#fields.hasErrors('category')}" class="invalid-feedback">
                    <ul>
                        <li th:each="err : ${#fields.errors('category')}" th:text="${err}"></li>
                    </ul>
                </div>
                <input type="hidden" th:field="*{category}" sec:authorize="hasAuthority('OPERATOR')">

                <!-- operator selection -->
                <label class="form-label text-light fs-4 mt-4" for="operator" sec:authorize="hasAuthority('ADMIN')">Operator</label>
                <select class="form-select text-bg-dark border-secondary" th:field="*{user}" id="operator" th:errorClass="is-invalid" sec:authorize="hasAuthority('ADMIN')">
                    <option value="">Select an operator</option>
                    <option th:each="user : ${users}" th:value="${user.id}">[[${user.userName}]]</option>
                </select>

                <div th:if="${#fields.hasErrors('user')}" class="invalid-feedback" sec:authorize="hasAuthority('ADMIN')">
                    <ul>
                        <li th:each="err : ${#fields.errors('user')}" th:text="${err}"></li>
                    </ul>
                </div>
                <input type="hidden" th:field="*{user}" sec:authorize="hasAuthority('OPERATOR')">

                <!-- Status update -->
                <label class="form-label text-light fs-4 mt-4" for="operator">Status</label>
                <select class="form-select text-bg-dark border-secondary" th:field="*{ticketStatus}" id="status" th:errorClass="is-invalid">
                    <option th:each="ticketStatus : ${ticketStatuses}" th:value="${ticketStatus.id}">[[${ticketStatus.name}]]</option>
                </select>
                <p class="text-center text-secondary mt-2">*Note: you can't change the ticket status from "COMPLETED" if your status is set to "NOT AVAILABLE   "</p>

                <div class="d-flex justify-content-between mt-5">
                    <!-- go back button -->
                    <div class="">
                        <a th:href="@{/tickets}" class="btn btn-sm btn-outline-secondary mb-4">
                            <i class="bi bi-arrow-90deg-left"></i> Cancel
                        </a>
                    </div>

                    <!-- go back button -->
                    <div class="">
                        <button type="submit" th:href="@{/tickets}" class="btn btn-sm btn-outline-light mb-4">
                            <i class="bi bi-pencil-square"></i> Update ticket
                        </button>
                    </div>
                </div>

            </form>
            <!-- form end -->


        </div>















    </main>
    <!-- end main -->

    <footer>

    </footer>


    <script th:replace="~{fragments/popper :: popper}"></script>
</body>

</html>