<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head th:replace="~{fragments/head :: head(Homepage)}"></head>

<body class="bg-dark">

    <header>
        <nav th:replace="~{fragments/navbar :: navbar}"></nav>


    </header>




    <main>
        <section class="container mt-5">
            <div class="col-12">
                <h1 class="text-center text-light mb-5">
                    Welcome to Ticket Platform
                </h1>
            </div>

            <div class="d-flex justify-content-center">
                <a class="btn btn-outline-light btn-lg" th:href="@{/tickets}">Proceed to editor</a>
            </div>
        </section>



    </main>




    <footer>

    </footer>









    <script th:replace="~{fragments/popper :: popper}"></script>
</body>

</html>