<!-- head fragment -->
<th:block th:fragment="head(pageTitle)">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>[[${pageTitle}]]</title>

        <!-- Bootstrap CSS -->
        <link th:rel="stylesheet" th:href="@{/webjars/bootstrap/5.3.7/css/bootstrap.min.css}" />

        <!-- Bootstrap Icons -->
        <link rel="stylesheet" th:href="@{/webjars/bootstrap-icons/1.13.1/font/bootstrap-icons.css}">
    </head>


</th:block>